alabaster==0.7.16 ; python_version >= "3.10" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
astroid==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
asttokens==2.4.1 ; python_version >= "3.10" and python_version < "4.0"
babel==2.15.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "4.0"
cachecontrol==0.12.6 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
colorlog==6.8.2 ; python_version >= "3.10" and python_version < "4.0"
datetime==4.9 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
docutils==0.20.1 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
feedparser==6.0.11 ; python_version >= "3.10" and python_version < "4.0"
humanize==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.7 ; python_version >= "3.10" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
importlib==1.0.4 ; python_version >= "3.10" and python_version < "4.0"
inflect==5.6.2 ; python_version >= "3.10" and python_version < "4.0"
inspy-logger==3.1.0.dev4 ; python_version >= "3.10" and python_version < "4.0"
inspyre-toolbox==1.5.2 ; python_version >= "3.10" and python_version < "4.0"
inspyred-print==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
ipython==8.24.0 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
lastversion==2.4.15 ; python_version >= "3.10" and python_version < "4.0"
lockfile==0.12.2 ; python_version >= "3.10" and python_version < "4.0"
luddite==1.0.4 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.8 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.10" and python_version < "4.0"
parso==0.8.4 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==10.3.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.2.2 ; python_version >= "3.10" and python_version < "4.0"
pockets==0.9.1 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.43 ; python_version >= "3.10" and python_version < "4.0"
psutil==5.9.8 ; python_version >= "3.10" and python_version < "4.0"
ptipython==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
ptpython==3.0.26 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "4"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "4.0"
pypattyrn==1.2 ; python_version >= "3.10" and python_version < "4.0"
pyperclip==1.8.2 ; python_version >= "3.10" and python_version < "4.0"
pysimplegui==5.0.4 ; python_version >= "3.10" and python_version < "4.0"
python-box==7.1.1 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.2 ; python_version >= "3.10" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
setuptools-autover==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
setuptools==69.5.1 ; python_version >= "3.10" and python_version < "4.0"
sgmllib3k==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
sphinx-autoapi==3.1.1 ; python_version >= "3.10" and python_version < "4.0"
sphinx-autodoc-typehints==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
sphinx-rtd-theme==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinx==7.3.7 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.8 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.6 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.5 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-jquery==4.1 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-napoleon==0.7 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.7 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.10 ; python_version >= "3.10" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.4 ; python_version >= "3.10" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==1.26.18 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "4.0"
zope-interface==6.4 ; python_version >= "3.10" and python_version < "4.0"
